{:paths ["src" "test"]
 :deps {binaryage/devtools {:mvn/version "1.0.2"}
        binaryage/oops {:mvn/version "0.7.0"}
        com.datomic/client-pro {:mvn/version "0.9.63"}
        compojure {:mvn/version "1.6.1"}
        cljs-ajax {:mvn/version "0.8.0"}
        day8.re-frame/http-fx {:mvn/version "0.2.1"}
        gnl/ghostwheel {:mvn/version "0.3.9"}
        http-kit {:mvn/version "2.4.0"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        thheller/shadow-cljs {:mvn/version "2.10.18"}
        reagent {:mvn/version "1.0.0-alpha2"}
        re-frame {:mvn/version "1.0.0"}
        ring {:mvn/version "1.8.1"}
        ring-cors {:mvn/version "0.1.13"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring-middleware-format {:mvn/version "0.7.4"}
        metosin/reitit {:mvn/version "0.5.5"}
        re-frame-utils {:mvn/version "0.1.0"}
        github-hhucn/dialog.core
        {:git/url "https://github.com/hhucn/dialog.core" :sha "4dbf691c402cdea48c54e555b72208c8992d0e27"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.641"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
                               com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}}
                  :jvm-opts ["-Dghostwheel.enabled=true"]
                  :main-opts ["-m" "kaocha.runner"]}

           :ancient {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                     :main-opts ["-m" "depot.outdated.main" "--every"]}

           :clj-kondo
           {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
            :jvm-opts ["-Dghostwheel.enabled=true"]
            :main-opts ["-m" "clj-kondo.main"]}

           :uberjar
           {:extra-deps
            {luchiniatwork/cambada {:mvn/version "1.0.2"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "meetly.core"]}

           :run-server {:main-opts ["-m" "meetly.meeting.rest-api"]
                        :extra-deps {com.datomic/dev-local {:local/root "local_jars/dev-local/dev-local.jar"}}}}}
