{:paths ["src" "test"]
 :deps {com.datomic/client-pro {:mvn/version "0.9.41"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/test.check {:mvn/version "1.0.0"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}
                  :main-opts ["-m" "kaocha.runner"]}

           :ancient {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                     :main-opts ["-m" "depot.outdated.main"]}

           :clj-kondo
           {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
            :main-opts ["-m" "clj-kondo.main"]}

           :uberjar
           {:extra-deps
            {luchiniatwork/cambada {:mvn/version "1.0.2"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "meetly.core"]}}}

