{:deps true
 :nrepl {:port 8777}
 :dev-http {8700 "resources/public"}
 :js-options {:js-package-dirs ["resources/public/node_modules"]}
 :builds {:app {:target :browser
                :modules {:base {:init-fn schnaq.interface.core/init}}
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :compiler-options {:warnings {:undeclared-var false
                                              :redef false}}
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                           day8.re-frame.tracing.trace-enabled? true}
                                         :external-config {:guardrails {}}}}
                :release {:closure-defines {schnaq.config.shared/api-url #shadow/env "REST_API_URL"
                                            schnaq.config.shared/environment "production"
                                            schnaq.interface.config/build-hash #shadow/env "BUILD_HASH"
                                            schnaq.interface.config/keycloak-realm #shadow/env "KEYCLOAK_REALM"
                                            schnaq.interface.config/keycloak-client #shadow/env "KEYCLOAK_CLIENT"
                                            schnaq.interface.config/faq-share-hash #shadow/env "FAQ_SHARE_HASH"
                                            schnaq.config.shared/s3-host #shadow/env "S3_HOST"
                                            schnaq.config.shared/embedded? #shadow/env "EMBEDDED"}
                          :build-options {:ns-aliases {com.fulcrologic.guardrails.core com.fulcrologic.guardrails.noop
                                                       day8.re-frame.tracing day8.re-frame.tracing-stubs}}}
                :devtools {:preloads [devtools.preload day8.re-frame-10x.preload]}}
          :test-headless {:target :karma
                          :output-to "target/ci.js"
                          :ns-regexp "-test$"}
          :test {:target :node-test
                 :output-dir "target/test/compiled/"
                 :output-to "target/test/compiled/test.js"
                 :ns-regexp "-test$"
                 :autorun true}}}
