{:deps true

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 8777}
 :builds {;; example build config, usage suitable for user apps
          :app {:target :browser
                :modules {:base {:init-fn meetly.interface.core/init}}
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}}
                :release {:closure-defines {meetly.meeting.interface.config/rest-api-url #shadow/env "REST_API_URL"
                                            meetly.meeting.interface.config/environment "production"}}
                :devtools {:http-root "public"
                           :http-port 8700
                           :preloads [devtools.preload]}}
          :test {:target :node-test
                 :output-dir "target/test/compiled/"
                 :output-to "target/test/compiled/test.js"
                 :ns-regexp "test$"}}}