#kaocha/v1
 {:plugins [:kaocha.plugin/cloverage
            :hooks]
  :kaocha.hooks/post-run
  :cloverage/opts {:html? true
                   :lcov? true}
  :tests [{:id :unit
           :test-paths ["src/test"]}]}
