.share-link-icons {
  img {
    width: 10rem;
  }

  span {
    align-self: center;
    display: inline-table;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-align: left;
  }
}

.single-image {
  img {
    width: 8rem;
  }
}

.copy-link-form {
  font-size: 1.25rem;
  height: 4rem;
}

.span-container {
  width: 100%;
}

