.share-link-icons {
  img {
    width: 10rem
  }

  span {
    font-size: 1.5rem;
    display: inline-table;
    text-align: left;
    align-self: center;
    padding-left: 1rem;
  }
}

.single-image {
  img {
    width: 8rem
  }
}

.copy-link-form {
  height: 4rem;
  font-size: 1.25rem;
}

.span-container {
  width: 100%;
}

