.badge-transparent {
  background-color: transparent;
  color: inherit;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    border: 0;
    outline: none;
  }
}

.badge-clickable {
  &:hover,
  &:active,
  &:focus {
    background-color: rgba($black, 0.2);
  }
}
