@import "variables";

.button-secondary-with-margin {
  background-color: $secondary;
  border-radius: 1.5rem;
  color: $white;
  font-size: 125%;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border: none;
  font-weight: bold;
}

.button-secondary {
  background-color: $secondary;
  border-radius: 1.5rem;
  color: $white;
  font-size: 125%;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
}

.button-primary {
  background-color: $primary;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  color: $white;
  font-size: 150%;
  border: none;
  font-weight: bold;
}