.premise-carousel-item {
  padding: 0 6.5% 1rem 6.5%;
}

.carousel-indicator-custom li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $gray-700;
}

.carousel-indicator-custom .active {
  background-color: $gray-100;
}

.carousel-control-color {
  color: $gray-700;
  background-color: #0000ff !important;
}

.carousel-control-prev {
  left: -2%;
}

.carousel-control-next {
  right: -2%;
}