.statement-outer {
  padding: 2rem;
  color: $white;
  background: transparent;
  border: 0;
}

.statement {
  border-radius: 2rem 0.5rem 0.5rem 2rem;
  padding: 2rem;
  color: $white;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
}

.statement-agree {
  background: $primary;
  cursor: pointer;
}

.statement-agree:hover {
  background: $primary-selected;
}

.statement-disagree {
  background: $secondary;
  cursor: pointer;
}

.statement-disagree:hover {
  background: $secondary-selected;
}

.statement-neutral {
  background: $primary-light;
  cursor: pointer;
}

.statement-neutral:hover {
  background: $primary-light-selected;
}

.discussion-view-rounded {
  border-radius: 2rem;
  background: $white;
  padding: 0;
}

.discussion-view-top-rounded {
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
  color: $white;
  font-weight: bold;
  background: $primary;
}

.discussion-view-bottom-rounded {
  border-radius: 0 0 2rem 2rem;
  padding: 2rem;
  color: $white;
  background: $primary;
}


.statement-single {
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
  color: $white;
  background: $primary-light;
  cursor: pointer;
}

.statement-single:hover {
  background: $primary-light-selected;
}

.discussion-text-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid $white;
  color: $white;
}

.discussion-text-input:focus {
  background-color: rgba(255, 255, 255, 0.0125);
  border: none;
  border-bottom: 2px solid $white;
  color: $white;
  box-shadow: none;
}

.discussion-text-input::placeholder {
  color: $white;
  opacity: 0.85;
}

.others-say-container {
  margin-top: 0;
  background: $gray-500;
}
