#feedback-wrapper {
  .feedback {
    opacity: 0.75;

    $rotation: -90deg;
    -webkit-transform: rotate($rotation);
    -moz-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    -ms-transform: rotate($rotation);
    transform: rotate($rotation);

    position: fixed;
    bottom: 50px;
    right: -30px;

    @media (min-width: 768px) {
      bottom: 20%;
    }
  }

  .feedback:hover {
    opacity: 1;
  }
}