@import "variables";

.meeting-entry {
  background: $primary;
  border-radius: 1.5rem;
  color: $white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
  0 4px 4px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer
}

.meeting-entry:hover {
  background: $primary-selected;
}

.meeting-entry-title {
  background-color: transparent;
  padding: 2rem 2rem 0 2rem;
  border: none;
  border-radius: 1.5rem 1.5rem 0 0;
}

.meeting-entry-desc {
  background-color: transparent;
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  border-radius: 0 0 1.5rem 1.5rem;
}

.arrow-icon {
  font-size: 2rem;
  cursor: pointer;
}

.meeting-single-rounded {
  border-radius: 2rem;
}

.meeting-header {
  padding: 2rem 2rem 1rem 2rem;
  color: $white;
}

.back-arrow {
  display: flex;
  align-items: start;
}

.meeting-edit-title {
  background: transparent;
  color: $white;
  padding: 3rem 2rem 3rem 2rem;
  border: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  font-size: 2rem;
}

.meeting-edit-title:focus {
  background: rgba(255, 255, 255, 0.05);
  color: $white;
}

.meeting-edit-title:hover {
  background: rgba(255, 255, 255, 0.1);
}


.meeting-edit-description {
  background: rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem 0 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  color: $white;
  border: 0;
  font-size: 1.5rem;
}

.meeting-edit-description:focus {
  background: rgba(255, 255, 255, 0.05);
  color: $white;
}

.meeting-edit-description:hover {
  background: rgba(255, 255, 255, 0.1);
}