#notifications-wrapper {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.toast {
  max-width: 25rem;
  width: 25rem;
  margin-bottom: .5rem
}

// Create all sub-classes of a toast
$contexts: primary $primary,
secondary $secondary,
success $success,
danger $danger,
warning $warning,
info $info;

@each $class, $color in $contexts {
  .toast-#{$class} {
    .toast-header {
      background-color: #{$color};
      color: white;
    }
  }
}

.toast-danger {
  max-width: 30rem;
  width: 30rem;
}