.form-round {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 1rem;
}

.form-round-05 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 150%;
}