.up-down-vote {
  padding: 0.5rem 0 0.5rem 0;
  max-width: 5rem;
}

.no-wrap {
  white-space: nowrap;
}

.up-vote {
  background: $primary;
  border-radius: 0.25rem 2rem 2rem 0.25rem;
  padding: 1.25rem 0 0 0;
  min-height: 4rem;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.up-vote:hover {
  background: $primary-selected;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
}

.down-vote {
  background: $secondary;
  border-radius: 0.25rem 2rem 2rem 0.25rem;
  padding: 1.25rem 0 0 0;
  min-height: 4rem;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.down-vote:hover {
  background: $secondary-selected;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
}
