{:lint-as {ghostwheel.core/>defn clojure.core/defn
           ghostwheel.core/>defn- clojure.core/defn}
 :linters {:single-key-in {:level :warning}
           :deprecated-var
           {:exclude
            {schnaq.meeting.database/starting-arguments-by-discussion
             {:defs [schnaq.meeting.database/starting-arguments-by-discussion]
              :namespaces [schnaq.discussion schnaq.export]}}}}}