<configuration scan="true" scanPeriod="5 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="Keycloak.*" level="WARN"/>
    <!--    <logger name="datomic.peer" level="WARN"/>-->
    <!--    <logger name="datomic.process-monitor" level="WARN"/>-->
    <logger name="schnaq.*" level="INFO"/>
</configuration>