.value-card {
  border: 0 !important;
}

.person-card {
  display: inline-block;
  margin: 2em 0;
  padding: 30px;
  width: 300px;
}

.person-card-inner {
  height: 333px;
  margin: auto;
  width: 200px;
}
