@use "rounded" as rounded;

.activation-schnaqqi-space {
  margin-top: -100px;
  min-height: 150px;  
}

.activation-button-rounded {
  @include rounded.rounded-50;
  min-height: 7.5rem;
  min-width: 7.5rem;
}
