@import 'variables';

.agenda-meeting-container {
  background-color: $white;
  border-radius: 1.5rem;
  color: $gray-700;
  overflow: hidden;
  text-align: center;
}

.agenda-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@include media-breakpoint-up(md) {
  .agenda-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include media-breakpoint-up(xl) {
  .agenda-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.agenda-point {
  background-color: $white;
  border-radius: 1.5rem;
  overflow: hidden;
}

.background-secondary {
  background-color: $secondary;
  color: $white;
}

.agenda-form-title {
  border: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  color: $gray-700;
  padding: 3rem 2rem 2rem;

  &:focus {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &::placeholder {
    color: $gray-600;
  }
}


.agenda-form-round {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  //border-radius: 0 0 1.5rem 1.5rem;
  box-sizing: border-box;
  color: $white;
  padding: 1rem 2rem 2rem;
}

.agenda-form-round::placeholder {
  color: $white;
  opacity: 0.85;
}

.agenda-form-round:focus {
  background-color: rgba(255, 255, 255, 0.025);
  color: $white;
}

.agenda-form-round:hover {
  background: rgba(255, 255, 255, 0.1);
}

.agenda-add-button {
  background-color: $secondary;
  border: 0;
  border-radius: 4rem;
  box-shadow: $regular-shadow;
  color: $white;
  font-weight: bold;
  text-align: center;
}

.agenda-line {
  background: #808080;
  margin-left: auto;
  margin-right: auto;
  min-height: 2rem;
  text-align: center;
  width: 0.5rem;
}

.agenda-row-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
