@use 'variables' as vars;
@use 'rounded' as rounded;

.avatar-image {
  @include media-breakpoint-down(sm) {
    height: 35px;
    overflow: hidden;
    width: 35px;

    svg {
      height: 35px;
      width: 35px;
    }
  }

  svg {
    border-radius: 1em;
  }
}

.profile-pic-fill {
  align-items: center;
  justify-content: center;
}

.profile-pic-image {
  @extend .shadow-sm;
  @include rounded.rounded-50;
  background-position: center center;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.change-profile-pic-button {
  box-shadow: vars.$regular-shadow;
  margin-bottom: -1rem !important;
  margin-left: -2rem !important;
}

.avatar-username {
  white-space: pre-wrap;
  word-wrap: anywhere;
}
