@use 'variables' as vars;
@use 'rounded' as rounded;

.avatar-image {
  @include media-breakpoint-down(sm) {
    height: 35px;
    width: 35px;

    svg {
      height: 35px;
      width: 35px;
    }
  }

  svg {
    border-radius: 1em;
  }
}

.profile-pic-container {
  @include rounded.rounded-2;
  background-color: vars.$white-shade;
  box-shadow: vars.$light-shadow;
  height: 5rem;
  overflow: hidden;
  width: 5rem;
}

.profile-pic-image {
  background-position: center center;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.change-profile-pic-button {
  box-shadow: vars.$regular-shadow;
  margin-bottom: -1rem !important;
  margin-left: -2rem !important;
}
