@import 'variables';

.badge-transparent {
  background-color: transparent;
  color: inherit;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    border: 0;
    color: inherit;
    outline: none;
  }
}

.badge-clickable {
  &:hover,
  &:active,
  &:focus {
    background-color: rgba($black, 0.2);
    cursor: pointer;
  }
}

.badge-primary-outline {
  background-color: transparent;
  border: solid 1px $primary;
}

.badge-secondary-outline {
  background-color: transparent;
  border: solid 1px $secondary;
}
