@use 'rounded' as rounded;
@import 'variables';


@mixin button-template($padding-top-bottom, $padding-left-right) {
  @extend .shadow-sm;
  border: 0;
  border-radius: 1.5rem;
  color: $white;
  font-weight: bold;
  padding: $padding-top-bottom $padding-left-right;
}

// btns

.btn-secondary {
  @include button-template(0.5rem, 1rem);
  color: $white;
}

.btn-primary {
  @include button-template(0.5rem, 1rem);
  color: $white;
}

.btn-outline-secondary:hover {
  color: $white;
}

.btn-outline-secondary.active {
  color: $white !important;
}

@each $rounded, $value in rounded.$roundings {
  .btn-#{$rounded} {
    /* stylelint-disable */
    @extend .btn;
    /* stylelint-enable */
    border-radius: #{$value};
  }
}

// Buttons

.button-secondary {
  @include button-template(1rem, 2rem);
  background-color: $secondary;
  font-size: 125%;

  &:hover {
    background-color: $secondary-selected;
    box-shadow: $hover-shadow;
    color: $white;
  }
}

.button-secondary-small {
  /* stylelint-disable */
  @extend .button-secondary;
  /* stylelint-enable */
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.button-primary {
  @include button-template(1rem, 2rem);
  background-color: $primary;
  font-size: 150%;

  &:hover {
    background-color: $primary-selected;
    box-shadow: $hover-shadow;
    color: $white;
  }
}

.button-call-to-action {
  background-color: $secondary;
  border: 0;
  border-radius: 2rem;
  box-shadow: $regular-shadow;
  color: $white;
  font-size: 150%;
  font-weight: bold;
  padding: 1rem 3rem;
}

.button-call-to-action:hover {
  background-color: $secondary-selected;
  box-shadow: $hover-shadow;
  color: $white;
}

.font-150 {
  font-size: 150%;
}

.font-200 {
  font-size: 200%;
}

.primary-light-color {
  color: $primary-light;
}

.secondary-color {
  color: $secondary-selected;
}

.schnaq-delete-button {
  display: inline-block;
  opacity: 0.9;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  &:hover {
    opacity: 1;
  }
}

.topic-card-button {
  display: block;
  min-width: 70%;
}

.btn-transparent {
  border: 0;

  &:hover {
    background: transparent;
  }
}
