@use 'rounded' as rounded;
@import 'variables';

@mixin button-template {
  @extend .shadow-sm;
  border: 0;
  color: $white;
}

.btn-secondary {
  @include button-template;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}

.btn-primary {
  @include button-template;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}

.btn-outline-secondary:hover {
  color: $white;
}

.btn-outline-secondary.active {
  color: $white !important;
}

@each $rounded, $value in rounded.$roundings {
  .btn-#{$rounded} {
    /* stylelint-disable */
    @extend .btn;
    /* stylelint-enable */
    border-radius: #{$value};
  }
}

// Buttons
.btn-outline-primary {
  &:hover,
  &:active,
  &.active {
    color: $white;
  }
}

.font-150 {
  font-size: 150%;
}

.btn-transparent {
  border: 0;

  &:hover {
    background: transparent;
  }
}

.btn-no-outline {
  border: 0;

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-invisible-border {
  // Adds an invisible border to be the same size as outline buttons
  border: $btn-border-width solid transparent;
}
