@import 'variables';

@mixin button-template {
  border: 0;
  border-radius: 1.5rem;
  box-shadow: $regular-shadow;
  color: $white;
  font-weight: bold;
  padding: 1rem 2rem;
}

.button-secondary {
  @include button-template;
  background-color: $secondary;
  font-size: 125%;

  &:hover {
    background-color: $secondary-selected;
    box-shadow: $hover-shadow;
    color: $white;
  }
}

.btn-b-1 {
  /* stylelint-disable */
  @extend .btn;
  /* stylelint-enable */
  border-radius: 1rem;
}

.button-secondary-b-1 {
  /* stylelint-disable */
  @extend .button-secondary;
  /* stylelint-enable */
  border-radius: 1rem;
}

.button-secondary-small {
  /* stylelint-disable */
  @extend .button-secondary;
  /* stylelint-enable */
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.button-primary {
  @include button-template;
  background-color: $primary;
  font-size: 150%;

  &:hover {
    background-color: $primary-selected;
    box-shadow: $hover-shadow;
    color: $white;
  }
}

.button-md {
  font-size: 100%;
  padding: 0.75rem 1rem;
}

.button-call-to-action {
  background-color: $secondary;
  border: 0;
  border-radius: 2rem;
  box-shadow: $regular-shadow;
  color: $white;
  font-size: 150%;
  font-weight: bold;
  padding: 1rem 3rem;
}

.button-call-to-action:hover {
  background-color: $secondary-selected;
  box-shadow: $hover-shadow;
  color: $white;
}

.font-150 {
  font-size: 150%;
}

.font-200 {
  font-size: 200%;
}

.primary-light-color {
  color: $primary-light;
}

.secondary-color {
  color: $secondary-selected;
}

.btn-outline-secondary:hover {
  color: $white;
}
