@use 'rounded' as rounded;
@use 'variables' as vars;

.layered-wave-background {
  background-image: url('https://s3.schnaq.com/schnaq-common/background/layered_background_square.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}
