@import 'variables';

.icon-points-text {
  font-size: 1.17em;
}

.icon-points-icon {
  color: $gray-800;
}

.spotlight-discussion {
  background-color: $white;
  border-radius: 2rem;
  box-shadow: $light-shadow;
  height: 20rem;
  overflow: hidden;

  &:hover {
    background-color: $white-shade;
    box-shadow: $hover-shadow;
  }
}

.spotlight-discussion-image {
  height: 16rem;
  max-width: 100%;
}


.spotlight-discussion-title {
  color: $gray-800;
  padding: 1rem 1.5rem 1.75rem;
  text-decoration: none;
}

.no-text-decoration {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
