@use 'rounded' as rounded;
@use 'variables' as vars;

.panel-white {
  @extend .shadow-sm;
  @include rounded.rounded-2;
  background: vars.$white;
  overflow: hidden;
  padding: 0.5rem 1rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.card-rounded {
  @extend .shadow-sm;
  @include rounded.rounded-2;
  border: 0;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    @include rounded.rounded-0;
  }
}

.card-view {
  background: vars.$white;

  &:hover {
    background: vars.$white-shade;
  }
}

.card-view-type {
  color: vars.$gray-100;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-left: 0.1rem;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 0.1rem;
  }
}

.card-history {
  background: vars.$white;
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 0 0 0.5rem;

  @include media-breakpoint-down(sm) {
    height: 3rem;
    padding: 0 0 0 0.4rem;
    width: 3rem;
  }

  &:hover {
    background: vars.$white-shade;
  }
}

.card-history-home {
  background: vars.$white;
  border: 0;
  border-radius: 1rem;
  color: vars.$gray-700;
  min-height: 4.5rem;
  overflow: hidden;
  padding: 1.5rem 1rem;

  @include media-breakpoint-down(sm) {
    min-height: 3rem;
    min-width: 3rem;
    padding: 0.5rem 0.25rem;
  }

  &:hover {
    background: vars.$white-shade;
  }
}

.line-divider {
  background: vars.$gray-200;
  margin-left: auto;
  margin-right: auto;
  min-height: 0.01rem;
  text-align: center;
}

.discussion-light-background {
  background: vars.$white;
  color: vars.$gray-900;
  white-space: pre-line;
}

.discussion-input-container {
  background: vars.$gray-200;
  border: 0;
  border-bottom: 2px solid vars.$white;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.primary-icon-button {
  background: transparent;
  border: 0;
  color: vars.$primary;
  outline: none;

  &:hover {
    color: vars.$primary-selected;
  }

  &:focus {
    border: 0;
    outline: none;
  }
}

.discussion-text-input-area {
  background: transparent;
  border: 0;
  resize: none;

  &:focus {
    background: transparent;
    box-shadow: none;
    color: vars.$gray-900;
  }

  &::placeholder {
    background: transparent;
    color: vars.$gray-600;
  }
}

.mobile-attitude-agree {
  @include media-breakpoint-down(sm) {
    background: vars.$primary;
  }
}

.mobile-attitude-disagree {
  @include media-breakpoint-down(sm) {
    background: vars.$secondary;
  }
}

@mixin statement-card {
  overflow: hidden;
  white-space: pre-line;
}

.statement-card-agree {
  @include statement-card;
  background: vars.$primary;

  &:hover {
    background: vars.$primary-selected;
  }
}

.statement-card-disagree {
  @include statement-card;
  background: vars.$secondary;

  &:hover {
    background: vars.$secondary-selected;
  }
}

.statement-card-neutral {
  @include statement-card;
  background: vars.$gray-300;

  &:hover {
    background: vars.$gray-200;
  }
}
