@use 'rounded' as rounded;

.panel-white {
  @include rounded.rounded-1;
  background: $white;
  overflow: hidden;
  padding: 1rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.panel-grey {
  @extend .panel-white;
  background: $input-background;
}

.animation-background {
  @include rounded.rounded-3;
  box-shadow: $wide-shadow;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.card-view-type {
  color: $gray-100;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-left: 0.1rem;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 0.1rem;
  }
}

.card-history {
  background: $white;
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;

  &:hover {
    background: $white-shade;
  }
}

.card-history-home {
  background: $white;
  border: 0;
  border-radius: 1rem;
  color: $gray-700;
  min-height: 4.5rem;
  overflow: hidden;
  padding: 1.5rem 1rem;

  &:hover {
    background: $white-shade;
  }
}

.line-divider {
  background: $gray-200;
  margin-left: auto;
  margin-right: auto;
  min-height: 0.01rem;
  text-align: center;
}

.discussion-light-background {
  background: $white;
  color: $gray-900;
  white-space: pre-line;
}

.discussion-input-content {
  background: $gray-100;
  border: 0;
  min-height: 8rem;
  padding: 1rem 1rem 1rem 0;
}

.primary-icon-button {
  background: transparent;
  border: 0;
  color: $primary;
  outline: none;

  &:hover {
    color: $primary-selected;
  }

  &:focus {
    border: 0;
    outline: none;
  }
}

.discussion-text-input-area {
  background: transparent;
  border: 0;
  resize: none;

  &:focus {
    background: transparent;
    box-shadow: none;
    color: $gray-900;
  }

  &::placeholder {
    background: transparent;
    color: $gray-600;
  }
}

.mobile-attitude-support {
  @include media-breakpoint-down(sm) {
    background: $primary;
  }
}

.mobile-attitude-attack {
  @include media-breakpoint-down(sm) {
    background: $secondary;
  }
}

.mobile-attitude-neutral {
  @include media-breakpoint-down(sm) {
    background: $gray-300;
  }
}

.statement-card {
  @include rounded.rounded-1;
  border: 0;
  white-space: pre-line;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.highlight-card {
  border-radius: 0 1rem 1rem 0;
  margin: 0.75rem 0;
  min-height: 100%;
  min-width: 0.5rem;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    margin-right: 1rem;
  }
}

.highlight-card-neutral {
  @extend .highlight-card;
  background: $neutral;
}

.highlight-card-support {
  @extend .highlight-card;
  background: $positive;
}

.highlight-card-attack {
  @extend .highlight-card;
  background: $negative;
}

.search-bar {
  @include rounded.rounded-1;
  background: $white;
  min-width: 200px;
}

.search-bar-input {
  @include rounded.rounded-1;
  border: 0;

  &:focus {
    background: transparent;
    border: 0;
    outline: 0;
  }
}
