.card-columns-discussion {
  column-count: 1;
  @include media-breakpoint-up(md) {
    column-count: 1;
  }
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }

  @include media-breakpoint-up(xl) {
    column-count: 3;
  }

  @include media-breakpoint-up(hd) {
    column-count: 4;
  }
}

.card-columns-embedded {
  column-count: 1;
}
