@import 'rounded';
@import 'variables';

.topic-view {
  @include rounded-2;
  background: $white;
  overflow: hidden;
  padding: 1rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}

.card-rounded {
  @include rounded-2;
  border: 0;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    @include rounded-0;
  }
}

.card-view {
  background: $white;

  &:hover {
    background: $white-shade;
  }
}

.card-view-type {
  color: $gray-100;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding-left: 0.1rem;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 0.1rem;
  }
}

.card-history {
  background: $white;
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 0 0 0.5rem;

  @include media-breakpoint-down(sm) {
    height: 3rem;
    padding: 0 0 0 0.4rem;
    width: 3rem;
  }

  &:hover {
    background: $white-shade;
  }
}

.history-card-content {
  background: $white;
  height: 100%;
  padding: 1rem;
  white-space: pre-line;

  @include media-breakpoint-down(sm) {
    padding: 0.35rem 0 0;
  }

  &:hover {
    background: $white-shade;
  }
}

.card-history-home {
  background: $white;
  border: 0;
  border-radius: 1rem;
  color: $gray-700;
  min-height: 4.5rem;
  overflow: hidden;
  padding: 1.5rem 1rem;

  @include media-breakpoint-down(sm) {
    min-height: 3rem;
    min-width: 3rem;
    padding: 0.5rem 0.25rem;
  }

  &:hover {
    background: $white-shade;
  }
}

.history-thread-line {
  background-color: $gray-600;
  height: 2rem;
  margin: 0 auto;
  width: 0.2rem;
}

.line-divider {
  background: $gray-200;
  margin-left: auto;
  margin-right: auto;
  min-height: 0.01rem;
  text-align: center;
}

.discussion-light-background {
  background: $white;
  color: $gray-900;
  white-space: pre-line;
}

.discussion-input-container {
  background: $gray-200;
  border: 0;
  border-bottom: 2px solid $white;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.primary-icon-button {
  background: transparent;
  border: 0;
  color: $primary;
  outline: none;

  &:hover {
    color: $primary-selected;
  }

  &:focus {
    border: 0;
    outline: none;
  }
}

.discussion-text-input-area {
  background: transparent;
  border: 0;
  resize: none;

  &:focus {
    background: transparent;
    box-shadow: none;
    color: $gray-900;
  }

  &::placeholder {
    background: transparent;
    color: $gray-600;
  }
}

.mobile-attitude-agree {
  @include media-breakpoint-down(sm) {
    background: $primary;
  }
}

.mobile-attitude-disagree {
  @include media-breakpoint-down(sm) {
    background: $secondary;
  }
}

@mixin statement-card {
  overflow: hidden;
  white-space: pre-line;
}

.statement-card-agree {
  @include statement-card;
  background: $primary;

  &:hover {
    background: $primary-selected;
  }
}

.statement-card-disagree {
  @include statement-card;
  background: $secondary;

  &:hover {
    background: $secondary-selected;
  }
}

.statement-card-neutral {
  @include statement-card;
  background: $gray-300;

  &:hover {
    background: $gray-200;
  }
}
