@import 'rounded';
@import 'variables';

.discussion-view-rounded {
  @include rounded-4;
  background: $white;
  overflow: hidden;
  padding: 0;

  @include media-breakpoint-down(sm) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.discussion-primary-background {
  background: $primary;
  color: $white;
  padding: 1rem;
}

.statement-single {
  background: $primary-light;
  border-radius: 2rem;
  color: $white;
  cursor: pointer;
  margin: 2rem;
  padding: 2rem;
}

.statement-single:hover {
  background: $primary-light-selected;
}

.discussion-text-input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $white;
  color: $white;
}

.discussion-text-input:focus {
  background-color: rgba(255, 255, 255, 0.0125);
  border: 0;
  border-bottom: 2px solid $white;
  box-shadow: none;
  color: $white;
}

.discussion-text-input::placeholder {
  color: $white;
  opacity: 0.85;
}

.authors-list {
  color: $gray-900;
  list-style-type: circle;
  padding-left: 1rem;
}

.discussion-base.container {
  padding-bottom: 2rem;
  padding-top: 1em;

  @include media-breakpoint-down(sm) {
    padding: 0.5rem 0 1rem;
  }
}

.conclusions-list,
.discussion-history {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.progress-schnaq {
  height: 5px;
  width: 150px;
}

.progress-bar-schnaq {
  background-color: $green;
  border-radius: 2rem;
}

.label-set {
  border: 2px solid $gray-600;
}

.label {
  cursor: pointer;
  transition: font-size 0.15s ease;
}

.label:hover {
  font-size: 1.1rem;
}
