.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  border-radius: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
  margin: 20px auto;
  max-width: 600px;
  position: relative;
  text-align: left;
}

.editor-inner {
  background: #fff;
  position: relative;
}

.editor-input {
  caret-color: rgb(5, 5, 5);
  caret-color: #444;
  font-size: 15px;
  min-height: 150px;
  outline: 0;
  padding: 15px 10px;
  position: relative;
  resize: none;
  tab-size: 1;
}

.editor-placeholder {
  color: #999;
  display: inline-block;
  font-size: 15px;
  left: 10px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  user-select: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
  padding: 1px 0.25rem;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin: 1px auto 10px;
  max-height: 250px;
  overflow: auto;
  padding: 5px;
  position: relative;
  white-space: pre-wrap;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  display: block;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 13px;
  line-height: 1.53;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;

  /* white-space: pre; */
  overflow-x: auto;
  padding: 8px 8px 8px 52px;
  position: relative;
  tab-size: 2;

  &::before {
    background-color: #eee;
    border-right: 1px solid #ccc;
    color: #777;
    content: attr(data-gutter);
    left: 0;
    min-width: 25px;
    padding: 8px;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: pre-wrap;
  }

  &::after {
    color: rgba(0, 0, 0, 0.5);
    content: attr(data-highlight-language);
    font-size: 10px;
    padding: 3px;
    position: absolute;
    right: 3px;
    text-transform: uppercase;
    top: 0;
  }
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.editor-heading-h1 {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  color: rgb(101, 103, 107);
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  border-left-color: rgb(206, 208, 212);
  border-left-style: solid;
  border-left-width: 4px;
  color: rgb(101, 103, 107);
  font-size: 15px;
  margin: 0;
  margin-left: 20px;
  padding-left: 16px;
}

.editor-list-ol,
.editor-list-ul {
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

.editor-listitem {
  margin: 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
  }
}

.debug-timetravel-panel {
  display: flex;
  margin: auto;
  overflow: hidden;
  padding: 0 0 10px;
}

.debug-timetravel-panel-slider {
  flex: 8;
  padding: 0;
}

.debug-timetravel-panel-button {
  background: none;
  border: 0;
  color: #fff;
  flex: 1;
  font-size: 12px;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.debug-timetravel-button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 12px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;

  &:hover {
    text-decoration: underline;
  }
}

.emoji {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  color: transparent;
  margin: 0 -1px;
  vertical-align: middle;
}

.emoji-inner {
  padding: 0 0.15em;

  &::selection,
  &::moz-selection {
    background-color: rgba(150, 150, 150, 0.4);
    color: transparent;
  }
}

.emoji.happysmile {
  background-image: url(./images/emoji/1F642.png);
}

.toolbar {
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  margin-bottom: 1px;
  padding: 4px;
  vertical-align: middle;

  button.toolbar-item {
    background: none;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    padding: 8px;
    vertical-align: middle;

    &:disabled {
      cursor: not-allowed;
    }

    &.spaced {
      margin-right: 2px;
    }

    i.format {
      background-size: contain;
      display: inline-block;
      display: flex;
      height: 18px;
      margin-top: 2px;
      opacity: 0.6;
      vertical-align: -0.25em;
      width: 18px;
    }

    &:disabled i.format {
      opacity: 0.2;
    }

    &.active {
      background-color: rgba(223, 232, 250, 0.3);

      i {
        opacity: 1;
      }
    }
  }

  .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
  }

  .divider {
    background-color: #eee;
    margin: 0 4px;
    width: 1px;
  }

  select {
    &.toolbar-item {
      appearance: none;
      appearance: none;
      background: none;
      border: 0;
      border-radius: 10px;
      color: #777;
      display: flex;
      font-size: 14px;
      padding: 8px;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 70px;
    }

    &.code-language {
      text-transform: capitalize;
      width: 130px;
    }
  }

  .toolbar-item {
    .text {
      color: #777;
      display: flex;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 200px;
      width: 70px;
    }

    .icon {
      background-size: contain;
      display: flex;
      height: 20px;
      line-height: 16px;
      margin-right: 8px;
      user-select: none;
      width: 20px;
    }
  }

  i.chevron-down {
    display: flex;
    height: 16px;
    margin-top: 3px;
    user-select: none;
    width: 16px;

    &.inside {
      display: flex;
      height: 16px;
      margin-left: -25px;
      margin-right: 10px;
      margin-top: 11px;
      pointer-events: none;
      width: 16px;
    }
  }
}

i.chevron-down {
  background-color: transparent;
  background-image: url(images/icons/chevron-down.svg);
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
}

#block-controls {
  button {
    &:hover {
      background-color: #efefef;
    }

    &:focus-visible {
      border-color: blue;
    }
  }

  span.block-type {
    background-size: contain;
    display: block;
    height: 18px;
    margin: 2px;
    width: 18px;

    &.paragraph {
      background-image: url(images/icons/text-paragraph.svg);
    }

    &.h1 {
      background-image: url(images/icons/type-h1.svg);
    }

    &.h2 {
      background-image: url(images/icons/type-h2.svg);
    }

    &.quote {
      background-image: url(images/icons/chat-square-quote.svg);
    }

    &.ul {
      background-image: url(images/icons/list-ul.svg);
    }

    &.ol {
      background-image: url(images/icons/list-ol.svg);
    }

    &.code {
      background-image: url(images/icons/code.svg);
    }
  }
}

.dropdown {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  display: block;
  min-height: 40px;
  min-width: 100px;
  position: absolute;
  z-index: 5;

  .item {
    align-content: center;
    background-color: #fff;
    border: 0;
    border-radius: 8px;
    color: #050505;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 15px;
    justify-content: space-between;
    line-height: 16px;
    margin: 0 8px;
    min-width: 268px;
    padding: 8px;

    .active {
      background-size: contain;
      display: flex;
      height: 20px;
      width: 20px;
    }

    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;
    }

    &:hover {
      background-color: #eee;
    }

    .text {
      display: flex;
      flex-grow: 1;
      line-height: 20px;
      width: 200px;
    }

    .icon {
      background-size: contain;
      display: flex;
      height: 20px;
      line-height: 16px;
      margin-right: 12px;
      user-select: none;
      width: 20px;
    }
  }
}

.link-editor {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  left: -10000px;
  margin-top: -6px;
  max-width: 300px;
  opacity: 0;
  position: absolute;
  top: -10000px;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 100;

  .link-input {
    background-color: #eee;
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(5, 5, 5);
    display: block;
    font-family: inherit;
    font-size: 15px;
    margin: 8px 12px;
    outline: 0;
    padding: 8px 12px;
    position: relative;
    width: calc(100% - 24px);
  }

  div.link-edit {
    background-image: url(images/icons/pencil-fill.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: -0.25em;
    width: 35px;
  }

  .link-input a {
    color: rgb(33, 111, 219);
    display: block;
    margin-right: 30px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    padding: 6px;
    width: 20px;

    &.hovered {
      background-color: #eee;
      display: inline-block;
      height: 20px;
      width: 20px;
    }

    i {
      background-size: contain;
      display: inline-block;
      height: 20px;
      vertical-align: -0.25em;
      width: 20px;
    }
  }
}

.actions i {
  background-size: contain;
  display: inline-block;
  height: 20px;
  vertical-align: -0.25em;
  width: 20px;
}

i {
  &.undo {
    background-image: url(images/icons/arrow-counterclockwise.svg);
  }

  &.redo {
    background-image: url(images/icons/arrow-clockwise.svg);
  }
}

.icon {
  &.paragraph {
    background-image: url(images/icons/text-paragraph.svg);
  }

  &.large-heading,
  &.h1 {
    background-image: url(images/icons/type-h1.svg);
  }

  &.small-heading,
  &.h2 {
    background-image: url(images/icons/type-h2.svg);
  }

  &.bullet-list,
  &.ul {
    background-image: url(images/icons/list-ul.svg);
  }

  &.numbered-list,
  &.ol {
    background-image: url(images/icons/list-ol.svg);
  }

  &.quote {
    background-image: url(images/icons/chat-square-quote.svg);
  }

  &.code {
    background-image: url(images/icons/code.svg);
  }
}

i {
  &.bold {
    background-image: url(images/icons/type-bold.svg);
  }

  &.italic {
    background-image: url(images/icons/type-italic.svg);
  }

  &.underline {
    background-image: url(images/icons/type-underline.svg);
  }

  &.strikethrough {
    background-image: url(images/icons/type-strikethrough.svg);
  }

  &.code {
    background-image: url(images/icons/code.svg);
  }

  &.link {
    background-image: url(images/icons/link.svg);
  }

  &.left-align {
    background-image: url(images/icons/text-left.svg);
  }

  &.center-align {
    background-image: url(images/icons/text-center.svg);
  }

  &.right-align {
    background-image: url(images/icons/text-right.svg);
  }

  &.justify-align {
    background-image: url(images/icons/justify.svg);
  }
}
