.feedback-wrapper {
  .feedback {
    bottom: 50px;
    opacity: 0.75;
    position: fixed;
    right: -30px;
    transform: rotate(-90deg);

    @include media-breakpoint-up(md) {
      bottom: 20%;
    }
  }

  .feedback:hover {
    opacity: 1;
  }
}
