@use 'rounded' as rounded;
@import 'variables';

@mixin feed-button-base {
  background-color: transparent;
  border: 0;
  border-radius: 1.5rem;
  box-shadow: none !important;
  color: $white;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important; // Avoid ugly styling when clicking again on an already selected feed-item

  &:hover {
    background-color: $white-shade;
    color: $primary;
    text-decoration: none;
  }

  &:focus {
    color: $primary;
    outline: none !important;
  }
}

.feed-button-focused {
  @include feed-button-base;
  color: $primary;
}

.feed-button {
  @include feed-button-base;
  box-shadow: none;
  color: $text-dark;
}

.feed-button-outlined {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .my-2;
  @extend .w-100;
  @include rounded.rounded-2;
}

.feed-button-create {
  @include feed-button-base;
  color: $secondary;

  &:hover {
    color: $secondary-selected;
  }

}
