
.scale-radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.scale-radio-button label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.scale-radio-button-highlight {
  background-color: #bfb;
  border-color: #4c4;
}

.scale-radio-button input[type="radio"]:checked + label {
  @extend .scale-radio-button-highlight;
}

.scale-radio-button input[type="radio"]:checked + label {
  @extend .scale-radio-button-highlight;
}

.scale-radio-button label:hover {
  background-color: #dfd;
}