@import 'variables';
@import 'rounded';

@mixin feed-button-base {
  @include button-template(1rem, 2rem);
  background-color: transparent;
  box-shadow: none;
  font-size: 1.25rem;
  font-weight: bolder;

  &:hover {
    background-color: $white-shade;
    color: $primary;
    text-decoration: none;
  }

  &:focus {
    color: $primary;
    outline: none !important;
  }
}

.feed-button-focused {
  @include feed-button-base;
  color: $primary;
}

.feed-button {
  @include feed-button-base;
  color: $text-dark;
}
