
.scale-radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.scale-radio-button label {
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid $schnaq-gray;
  width: 50px;
  height: 50px;
  align-items: center;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .rounded-circle;
}

.scale-radio-button-highlight {
  background-color: $schnaq-gray;
  border-color: $schnaq-gray;
  color: #fff;
}

.scale-radio-button input[type="radio"]:checked + label {
  @extend .scale-radio-button-highlight;
}

.scale-radio-button input[type="radio"]:checked + label {
  @extend .scale-radio-button-highlight;
}

.scale-radio-button label:hover {
  background-color: $gray-200;
}

.scale-gradient {
  background: linear-gradient(90deg, #F66490 0%, #1292EE 50.81%, #8DEAB1 100%);
  border: 1px solid #000000;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1;
  width: 95%;
}

.scale-wrapper .form-check-inline:nth-child(2) {
  padding-left: 0;
}

.scale-wrapper .form-check-inline:last-child {
  margin-right: 0;
}