@import 'variables';

$a-tags: 'a, a:active, a:hover, a:visited';

footer {
  background-color: $blue-dark;
  color: $gray-100;
  min-height: 15vh;
  padding: 2rem 0;

  .lead {
    font-size: 1.2rem;
  }

  .footer-schnaqqifant {
    padding-bottom: 0.5rem;
    width: 9rem;

    @include media-breakpoint-down(md) {
      width: 12rem;
    }
  }

  #{$a-tags} {
    color: $gray-100;
  }
}

.social-media-icon {
  padding-left: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.sponsors img {
  width: 10rem;

  &:hover {
    opacity: 0.8;
  }
}
