@import 'variables';

$a-tags: 'a, a:active, a:hover, a:visited';

.footer {
  background-image: url('https://s3.schnaq.com/schnaq-common/background/layered_background_dark_footer.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: $gray-100;
  min-height: 15vh;
  overflow: hidden;
  padding: 2rem 0;

  .lead {
    font-size: 1.2rem;
  }

  .footer-schnaqqifant {
    padding-bottom: 0.5rem;
    width: 9rem;

    @include media-breakpoint-down(lg) {
      width: 12rem;
    }
  }

  #{$a-tags} {
    color: $gray-100;
  }

  .list-inline-item {
    padding-bottom: 0.25rem;
  }
}

.social-media-icon {
  padding-left: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.sponsors img {
  width: 10rem;

  &:hover {
    opacity: 0.8;
  }
}
