@use 'variables' as vars;
@import '../node_modules/react-tippy/dist/tippy.css';


html {
  scroll-behavior: smooth;
}

.background-gray {
  background-color: vars.$gray-100;
}

.base-wrapper {
  background: vars.$light-background;
  min-height: 85vh;
}

.regular-cursor {
  cursor: default;
}

.clickable,
.clickable-no-hover {
  cursor: pointer;
}

.clickable:hover {
  background: rgba(255, 255, 255, 0.125);
}

.sm-pad-0 {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.mobile-container {
  padding: 0 0.5rem;

  @include media-breakpoint-up(md) {
    padding: 0 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 4rem;
  }
}

.w-lg-50 {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.h6-md-down {
  @include media-breakpoint-down(md) {
    font-size: 1em;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 1600px;
  }
}

.big-checkbox {
  height: 1.1em;
  width: 1.1em;
}

.obfuscate {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.min-content {
  width: min-content;
}

.font-color-primary {
  color: $primary;
}
