@import 'variables';
@import 'mixins';

html {
  scroll-behavior: smooth;
}

body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.background-gray {
  background-color: $gray-100;
}

.base-wrapper {
  background: $light-background;
  min-height: 85vh;
}

.shadow-straight {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.shadow-straight-light {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.inner-shadow-straight {
  box-shadow: inset 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.clickable,
.clickable-no-hover {
  cursor: pointer;
}

.clickable:hover {
  background: rgba(255, 255, 255, 0.125);
}

.sm-pad-0 {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.schnaq-rounded {
  border-radius: 30%;
}

.input-rounded {
  border-radius: 1.5rem;
}

.mobile-container {
  padding: 0 0.5rem;

  @include media-breakpoint-up(md) {
    padding: 0 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 4rem;
  }
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-gray-700 {
  color: $gray-700;
}

.text-primary {
  color: $primary;
}

.text-dark-blue {
  color: $blue-dark;
}

@media (min-width: 2560px) {
  .container {
    max-width: 1600px;
  }
}

.big-checkbox {
  height: 1.1em;
  width: 1.1em;
}
