@use 'variables' as vars;
@use 'rounded' as rounded;

.history-wrapper {
  @include rounded.rounded-1;
  background-color: transparent;
  margin-top: 1rem;
  max-width: 30rem;
  padding: 0.5rem;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.history-card-content {
  height: 100%;
  padding: 1rem;
  white-space: pre-line;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 0.35rem 0 0;
  }

  &:hover {
    background: vars.$white-shade;
  }
}

.history-thread-line {
  background-color: vars.$gray-600;
  height: 1rem;
  margin: 0 auto;
  width: 0.2rem;
}
