@import 'variables';

.how-to-video-row {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.chat-background {
  background-image: url('../imgs/backrgound/background_clutter.svg');
}

.bubble-background {
  background-image: url('../imgs/backrgound/bubble-fade.svg');
  background-repeat: no-repeat;
}

.taskbar-background {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.quick-how-to {
  @include rounded-3;
  background-color: $gray-200;
  box-shadow: $regular-shadow;
  color: $text-dark;
  margin: 2rem 0;
  overflow: hidden;
  padding: 1rem 2rem;
}
