@use 'rounded' as rounded;
@use 'variables' as vars;

.how-to-video-row {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.chat-background {
  background-image: url('https://s3.disqtec.com/schnaq-common/background/background_clutter.svg');
}

.bubble-background {
  background-image: url('https://s3.disqtec.com/schnaq-common/background/bubble-fade.svg');
  background-repeat: no-repeat;
}

.taskbar-background {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.quick-how-to {
  @extend .shadow-sm;
  @include rounded.rounded-1;
  background-color: vars.$white;
  color: vars.$text-dark;
  margin: 2rem 0;
  overflow: hidden;
  padding: 1rem 2rem;
}
