.features-icons {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.features-icons-item {
  max-width: 20rem;
}

.features-icons-icon {
  height: 7rem;

  i {
    font-size: 4.5rem;
  }
}

.header-standalone-icon {
  margin-left: auto;
  margin-right: auto;
  width: 25px;
}
