.icon-bullets {
  img {
    width: 3rem;
  }

  span {
    display: inline-table;
    font-size: 1.5rem;
    padding-left: 1rem;
    vertical-align: middle;
  }
}

.icon-bullets-larger {
  img {
    width: 6rem;
  }

  span {
    display: inline-table;
    font-size: 1.5rem;
    padding-left: 1rem;
    vertical-align: middle;
  }

  p {
    padding-left: 1rem;
  }
}
