@use "rounded" as rounded;
@use "variables" as vars;


$var-blue1: vars.$gray-500;
$var-green1: vars.$primary;
$var-red1: vars.$red;

@import "../../../node_modules/klaro/src/scss/klaro";

// Cookie Modal
.cm-btn-accept,
.cm-btn-danger {
  @extend .bg-primary;
  @extend .mt-2;
}

.cm-footer-buttons {
  @extend .d-flex;
  @extend .flex-column-reverse;
}

.cm-btn {
  @extend .mx-auto;
}

.cm-btn {
  @extend .shadow-sm;
}
