@import 'variables';


$labels: (
  'blue': $label-blue,
  'purple': $label-purple,
  'red': $label-red,
  'teal': $label-teal,
  'yellow': $yellow,
  'green': $green,
  'cyan': $cyan,
  'dark': $dark
);

@each $name, $bg-color in $labels {
  .label-#{$name} {
    background-color: $bg-color;
    color: $white;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}
