@use 'variables' as vars;
@use 'rounded' as rounded;

.meeting-entry-no-hover {
  @extend .shadow-sm;
  @include rounded.rounded-1;
  background-color: vars.$white;
  min-height: 5rem;
  overflow: hidden;
}

.meeting-entry {
  /* stylelint-disable */
  @extend .meeting-entry-no-hover;
  /* stylelint-enable */
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }

  &:hover {
    background: vars.$white-shade;
    box-shadow: vars.$hover-shadow;
  }
}

.meeting-entry-title {
  background-color: transparent;
  color: $text-dark;
  padding: 1rem 0 0;
  text-decoration: none;
}

.meeting-entry-title-header-image {
  background-position: center center;
  max-height: 5rem;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.meeting-entry-desc {
  background-color: transparent;
  border-radius: 0 0 1.5rem 1.5rem;
  box-sizing: border-box;
}

.arrow-icon {
  cursor: pointer;
  font-size: 2rem;
}

.back-arrow {
  align-items: start;
  display: flex;
}

.meeting-edit-title {
  background: transparent;
  border: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  color: vars.$white;
  font-size: 2rem;
  padding: 3rem 2rem;
}

.meeting-edit-title:focus {
  background: rgba(255, 255, 255, 0.05);
  color: vars.$white;
}

.meeting-edit-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.meeting-edit-description {
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  color: vars.$white;
  font-size: 1.5rem;
  padding: 1rem 2rem 0;
}

.meeting-edit-description:focus {
  background: rgba(255, 255, 255, 0.05);
  color: vars.$white;
}

.meeting-edit-description:hover {
  background: rgba(255, 255, 255, 0.1);
}
