@import 'variables';

.meeting-entry-no-hover {
  background-color: $white;
  border-radius: 2rem;
  box-shadow: $light-shadow;
  height: 20rem;
  overflow: hidden;
}


.meeting-entry {
  /* stylelint-disable */
  @extend .meeting-entry-no-hover;
  /* stylelint-enable */
  cursor: pointer;

  &:hover {
    background: $white-shade;
    box-shadow: $hover-shadow;
  }
}


.meeting-entry-title {
  background-color: transparent;
  color: $text-dark;
  padding: 1rem 1.5rem 1.75rem;
  text-decoration: none;
}

.meeting-entry-title-header-image {
  max-height: 16rem;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: 0 0;
  overflow: hidden;
}

.meeting-entry-desc {
  background-color: transparent;
  border-radius: 0 0 1.5rem 1.5rem;
  box-sizing: border-box;
}

.arrow-icon {
  cursor: pointer;
  font-size: 2rem;
}

.meeting-single-rounded {
  border-radius: 2rem;
}

.meeting-header {
  background-color: $white;
  color: $text-dark;
  overflow-wrap: break-word;
  padding: 2rem 2rem 1rem;
}

.back-arrow {
  align-items: start;
  display: flex;
}

.graph-icon {
  align-items: start;
  display: flex;
  min-width: 4rem;
}

.graph-icon-img {
  border: $primary-light 1px solid;
  border-radius: 1rem;
  box-shadow: $regular-shadow;
  max-height: 4rem;
  padding: 0.5rem;

  @include media-breakpoint-down(md) {
    max-height: 4rem;
  }

  &:hover {
    box-shadow: $hover-shadow;
  }
}

.meeting-edit-title {
  background: transparent;
  border: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  color: $white;
  font-size: 2rem;
  padding: 3rem 2rem;
}

.meeting-edit-title:focus {
  background: rgba(255, 255, 255, 0.05);
  color: $white;
}

.meeting-edit-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.meeting-edit-description {
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  color: $white;
  font-size: 1.5rem;
  padding: 1rem 2rem 0;
}

.meeting-edit-description:focus {
  background: rgba(255, 255, 255, 0.05);
  color: $white;
}

.meeting-edit-description:hover {
  background: rgba(255, 255, 255, 0.1);
}
