@use 'variables' as vars;
@use 'rounded' as rounded;

.schnaq-entry-no-hover {
  @include rounded.rounded-1;
  background-color: vars.$white;
  min-height: 5rem;
  overflow: hidden;
}

.schnaq-entry {
  /* stylelint-disable */
  @extend .schnaq-entry-no-hover;
  /* stylelint-enable */
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }

  &:hover {
    background: vars.$white-shade;
  }
}

.schnaq-entry-title {
  background-color: transparent;
  color: $text-dark;
  text-decoration: none;
}

.schnaq-header-image {
  @include rounded.rounded-1;
  background-position: center center;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 0.5rem;
}
