@use 'variables' as vars;

.modal-wrapper {
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.modal-header {
  background-color: vars.$primary-light;
  box-shadow: vars.$light-shadow;
  color: vars.$gray-100;
}

.modal-backdrop {
  animation: fade-in 0.2s;
  background-color: vars.$black;
  height: 100%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal-child {
  animation: fade-in-child 0.2s;
  margin: 30px auto auto;
  z-index: 2;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@keyframes fade-in-child {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  overflow-y: auto;
}
