@use 'rounded' as rounded;
@use 'variables' as vars;

// Reminder: Most of this can be configured via bootstrap variables.
// See: https: //getbootstrap.com/docs/5.2/components/navbar/#variables
// These have to be configured in our _variables.scss file.

$height-of-components: 4.25rem;

.schnaq-navbar-skeleton {
  @include rounded.rounded-1;
  height: $height-of-components;

  @include media-breakpoint-down(md) {
    max-height: 8rem;
    width: 100%;
  }
}

.schnaq-navbar {
  @extend .schnaq-navbar-skeleton;
  background: vars.$white;
  overflow: visible;
  padding: 0;

  @include media-breakpoint-down(md) {
    border-radius: 0;
  }

  .nav-link {
    @extend .p-2;
  }
}

.schnaq-navbar-dynamic-padding {
  background: transparent;
  overflow: visible;

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.schnaq-logo-container {
  @include rounded.rounded-1;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave_background.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 100% !important;
  overflow: hidden;
  padding: 1rem 4rem 1rem 1rem;

  @include media-breakpoint-down(md) {
    border-radius: 0;
    padding: 1rem 1rem 1rem 0.5rem;
  }
}

.schnaq-brand-logo {
  min-width: 4rem;
}

.schnaq-navbar-title {
  @extend .schnaq-navbar-skeleton;
}

.discussion-navbar-button {
  @include rounded.rounded-1;
  height: $height-of-components;
}

.navbar-bg-transparent-sm-white {
  background: transparent;
  @include media-breakpoint-down(md) {
    background: $white;
  }
}

.navbar-text {
  max-width: 70%;
  max-width: calc(80% - 4rem); // -4rem because of the navbar toggler
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-icon {
  @extend .bg-white;
  @extend .rounded-1;
  @extend .me-2;
  padding: 0.2rem;
}

.nav-link.disabled {
  @extend .fw-bold;
}
