@import 'variables';

.notifications-wrapper {
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  z-index: 10000;
}

.toast {
  margin-bottom: 0.5rem;
  width: 20rem;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0.75rem;
  }
}

// Create all sub-classes of a toast
// @formatter:off
$contexts: primary $primary,
  secondary $secondary,
  success $success,
  danger $danger,
  warning $warning,
  info $info;
// @formatter:on

@each $class, $color in $contexts {
  .toast-#{$class} {
    .toast-header {
      background-color: #{$color};
      color: $white;
    }
  }
}
