@use 'variables' as vars;
@use 'rounded' as rounded;



.schnaq-entry {
  @include rounded.rounded-1;
  background-color: vars.$white;
  cursor: pointer;
  min-height: 5rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }

  &:hover {
    background: vars.$white-shade;
  }
}

.schnaq-entry-title {
  background-color: transparent;
  color: $dark;
  text-decoration: none;
}

.schnaq-header-image {
  @include rounded.rounded-1;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 10rem;
}

.schnaq-header-hub-image {
  @include rounded.rounded-1;
  margin-left: 1rem;
  margin-top: -1rem;
  min-height: 2rem;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  width: 2rem;
}
