@import 'variables';

.pricing-feature-list {
  @extend .list-group;
  @extend .list-group-flush;

  li {
    padding: 0.5rem;
  }
}

.card-infos {
  height: 22rem;

  @include media-breakpoint-down(lg) {
    height: 19rem;
  }
}

.pricing-table {
  @include media-breakpoint-up(lg) {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.table-transparent {
  box-shadow: none !important;
}

