@import 'variables';

.tier-card {
  border: 0;
  border-radius: 0.5em;
}

.trial-box {
  background-color: $blue-dark;
  border-radius: 1.5rem;
  color: $white;
  display: inline-block;
  max-width: 400px;
  padding: 1em;

  &:hover {
    background-color: lighten($blue-dark, 10%);
    box-shadow: $hover-shadow !important;
  }
}

.feature-card {
  background-color: rgba($secondary, 0.2);
  border-radius: 0.5em;
  padding: 0.5em;

  p {
    margin-bottom: 0;
  }
}

.pricing-feature-list {
  @extend .list-group;
  @extend .list-group-flush;

  li {
    padding: 0.5rem;
  }
}

