@use 'sass:map';

// Create rounded-classes and corresponding mixins.

$roundings: (
  'rounded-0': 0,
  'rounded-1': 0.5rem,
  'rounded-2': 1rem,
  'rounded-3': 1.5rem,
  'rounded-4': 2rem,
  'rounded-5': 3rem
);

@each $rounded, $value in $roundings {
  .#{$rounded} {
    border-radius: #{$value};
  }
  .#{$rounded}-important {
    border-radius: #{$value} !important;
  }
}

@mixin rounded-0 {
  border-radius: map.get($roundings, 'rounded-0');
}

@mixin rounded-1 {
  border-radius: map.get($roundings, 'rounded-1');
}

@mixin rounded-2 {
  border-radius: map.get($roundings, 'rounded-2');
}

@mixin rounded-3 {
  border-radius: map.get($roundings, 'rounded-3');
}

@mixin rounded-4 {
  border-radius: map.get($roundings, 'rounded-4');
}

@mixin rounded-5 {
  border-radius: map.get($roundings, 'rounded-5');
}
