@use 'variables' as vars;
@use 'rounded' as rounded;

$header-color: vars.$primary;
$header-opacity: 1;

.masthead {
  background-color: $header-color;
  opacity: $header-opacity;
  padding-top: 1rem;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding-top: 2rem;

    h1 {
      font-size: 2rem;
    }
  }

  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3vw;
    }
  }
}

.masthead-layered {
  @extend .masthead;
  @extend .text-white;
  background-color: transparent;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/layered_background_square.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave-bottom-white {
  @extend .masthead;
  background-color: transparent;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-top: 8%;
  width: 100%;
}

.wave-bottom-primary-and-secondary {
  @extend .wave-bottom-white;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-primary-secondary.svg');
}

.wave-bottom-light {
  @extend .wave-bottom-white;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-light.svg');
}

.wave-bottom-primary {
  @extend .wave-bottom-white;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-primary.svg');
}

.wave-bottom-typography {
  @extend .wave-bottom-white;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-typography.svg');
}

.wave-bottom-dark {
  @extend .wave-bottom-white;
  background-image: url('https://s3.schnaq.com/schnaq-common/background/wave-bottom-dark.svg');
}

.wave-background {
  background-image: url('https://s3.schnaq.com/schnaq-common/background/background-product-md.svg');
  background-repeat: repeat;
  background-size: 100%;

  @include media-breakpoint-up(lg) {
    background-image: url('https://s3.schnaq.com/schnaq-common/background/background-product-lg.svg');
  }

  @include media-breakpoint-up(hd) {
    background-image: url('https://s3.schnaq.com/schnaq-common/background/background-product.svg');
  }
}

.feature-text-box {
  p,
  li,
  section {
    font-size: 1.2rem;
  }
}
