@use 'variables' as vars;

$header-color: vars.$primary-selected;
$header-opacity: 1;
$gradient-target: vars.$primary;

.masthead {
  background-color: $header-color;
  opacity: $header-opacity;
  padding-top: 1rem;
  position: relative;

  .overlay {
    background-color: vars.$gray-900;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    padding-top: 2rem;

    h1 {
      font-size: 2.5rem;
    }
  }
}

.masthead-gradient {
  @extend .masthead;
  background: linear-gradient(to bottom, $header-color, $gradient-target);
}

.wavy-curve {
  background-color: transparent;
  fill: $header-color;
  margin: -1rem 0;
  max-height: 11rem;
  opacity: $header-opacity;
  width: 100%;
}

.wavy-curve-gradient {
  @extend .wavy-curve;
  fill: $gradient-target;
}

.feature-text-box {
  p,
  li,
  section {
    font-size: 1.2rem;
  }
}

.feature-row {
  padding-bottom: 5rem;
  white-space: pre-line;

  img {
    width: 100%;
  }
}

.early-adopter {
  background-color: vars.$primary-selected;
  color: vars.$white;
  padding: 2rem 0;
}

.early-adopter-schnaqqifant-wrapper {
  position: relative;
}

.early-adopter-schnaqqifant {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100px;
}

.subscribe-to-mailinglist {
  padding: 2rem 0 6rem;
}

.dot-background {
  background-image: url('https://s3.disqtec.com/schnaq-common/background/blue_dot.svg');
  background-size: 20px 20px;
}
