.testimonial img {
  margin-left: 1rem;
  max-width: 60%;
  opacity: 0.7;
  padding-top: 2rem;

  &:hover {
    opacity: 1;
  }
}

@include media-breakpoint-up(md) {
  .testimonial img {
    max-width: 90%;
    padding-top: 0;
  }
}

@include media-breakpoint-up(xl) {
  .testimonial img {
    margin-left: 3rem;
    max-width: 80%;
  }
}
