.form-round {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-sizing: border-box;
}

.form-round-05 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.form-title {
  font-size: 150%;
}

.form-title-light {
  /* stylelint-disable */
  @extend .form-title;
  /* stylelint-enable */

  color: $white;

  &:focus {
    color: $white;
  }

  &::placeholder {
    color: $gray-200;
  }
}

.form-border-bottom {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $gray-300;
  border-radius: 0;
  font-size: 150%;

  &:focus {
    background: transparent;
    border-bottom: 2px solid $primary-selected;
    box-shadow: none;
  }
}

.form-border-bottom-light {
  /* stylelint-disable */
  @extend .form-border-bottom;
  /* stylelint-enable */

  border-bottom: 2px solid $white;

  &:focus {
    border-bottom: 3px solid $white;
  }
}
