.form-round {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-sizing: border-box;
}

.form-round-05 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.form-title {
  font-size: 150%;
}

.form-border-bottom {
  border: 0;
  border-bottom: 2px solid $gray-300;
  border-radius: 0;
  font-size: 150%;

  &:focus {
    border-bottom: 2px solid $primary-selected;
    box-shadow: none;
  }
}
