// This namespace is to set the current branding of the page. We override in our
// interface the defined variables, which are referenced by our bootstrap
// overrides.

// @use "../node_modules/bootstrap/mixins/buttons" as bs;
@use "variables" as vars;

:root {
  --theming-primary: var(--bs-primary);
  --theming-secondary: var(--bs-secondary);
  --theming-background: #{vars.$light-background};
}

// -----------------------------------------------------------------------------
// Button

.theming-enabled {
  .btn-primary {
    background-color: var(--theming-primary) !important;

    &:hover,
    &:active,
    &:visited {
      background-color: var(--theming-primary) !important;
    }
  }

  .btn-secondary {
    background-color: var(--theming-secondary) !important;

    &:hover,
    &:active,
    &:visited {
      background-color: var(--theming-secondary) !important;
    }
  }

  // -----------------------------------------------------------------------------
  // Button Outlines

  .btn-outline-primary {
    border-color: var(--theming-primary) !important;
    color: var(--theming-primary) !important;

    &:not(.disabled):not(.disabled).active,
    &:hover {
      background-color: var(--theming-primary) !important;
      color: #fff !important;
    }
  }

  // -----------------------------------------------------------------------------
  // Text Color

  .text-primary {
    color: var(--theming-primary) !important;
  }

  .text-secondary {
    color: var(--theming-secondary) !important;
  }

  // -----------------------------------------------------------------------------
  // Borders

  // -----------------------------------------------------------------------------
  // Background

  .base-wrapper {
    background: var(--theming-background);
  }
}
