// Import here third party
@import '../node_modules/tippy.js/dist/tippy';
@import '../node_modules/tippy.js/animations/scale';
@import '../node_modules/tippy.js/animations/shift-away';
@import '../node_modules/tippy.js/animations/perspective';
@import '../node_modules/tippy.js/themes/light';
@import '../js/klaro/src/scss/klaro';
