@import 'variables';

.up-down-vote {
  max-width: 5rem;
  padding: 0.5rem 0;

  @include media-breakpoint-down(sm) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-left: 52vw;
    padding-top: 0;
  }
}

.no-wrap {
  white-space: nowrap;
}

.vote {
  border-radius: 0.25rem 2rem 2rem 0.25rem;
  box-shadow: $regular-shadow;
  cursor: pointer;
  min-height: 4rem;
  padding: 1.25rem 0 0;

  @include media-breakpoint-down(sm) {
    border-radius: 0.25rem 0.25rem 2rem 2rem;
    min-height: 0;
    min-width: 4rem;
    padding: 0.25rem 0 0;
  }
}

.up-vote {
  background: $primary;
}

.up-vote:hover {
  background: $primary-selected;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
}

.down-vote {
  background: $secondary;
}

.down-vote:hover {
  background: $secondary-selected;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
}
