@import 'variables';

.up-down-vote {
  max-width: 4.5rem;
  padding: 0.5rem 0;

  @include media-breakpoint-down(sm) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-left: 52vw;
    padding-top: 0;
  }
}

.no-wrap {
  white-space: nowrap;
}

.vote {
  border-radius: 0 2rem 2rem 0;
  box-shadow: $regular-shadow;
  cursor: pointer;
  min-height: 3.5rem;
  padding: 1rem 0 0;

  @include media-breakpoint-down(sm) {
    border-radius: 0 0 1rem 1rem;
    min-height: 0;
    min-width: 3rem;
    padding: 0;
  }
}

.vote-arrow {
  cursor: pointer;
  max-height: 1.25rem;
  max-width: 1.25rem;
  vertical-align: baseline;
}

.up-vote {
  color: $primary;
}

.up-vote:hover {
  color: $primary-selected;
}

.down-vote {
  color: $secondary;
}

.down-vote:hover {
  color: $secondary-selected;
}
