@import 'rounded';
@import 'variables';

.user-name {
  line-height: 0.9rem;
}

.manage-account-content {
  @include rounded-2;
  background: $white;
  overflow: hidden;
  padding: 4rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}
