@use '../node_modules/@fontsource/poppins/scss/mixins' as poppins;

@include poppins.fontFace(
  $fontDir: '../node_modules/@fontsource/#{poppins.$fontId}/files'
);

// Variables
$img-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

// Restated Bootstrap Variables
$white: #fff !default;
$white-shade: #f8fbfe !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base Color Palette
$white-very-light-pink: #efefef !default;
$light-base: #fffdfd !default;
$light-disable: #f9f9f9 !default;
$light-hover: #eaeaea !default;
$light-background: #f6f8ff !default;
$gray-base: #919ca4 !default;
$gray-disbale: #acb8c2 !default;
$gray-hover: #727c83 !default;
$dark-base: #343a40 !default;
$dark-disable: #7a7e83 !default;
$dark-hover: #23272b !default;
$blue-base: #1292ee !default;
$blue-selected: #117fce !default;
$blue-disable: #6ba6e6 !default;
$blue-light: #43a9ea !default;
$blue-light-selected: #3b9be3 !default;
$orange-base: #ff9901 !default;
$orange-disable: #c97800 !default;
$orange-selected: #ffb03b !default;
$red: #dc3545 !default;
$green: #6aedac !default;

// Text Colors
$typography: #001452 !default;
$text-dark: $gray-700 !default;
$text-light: $white !default;

// Tag  specific Colors
$label-blue: #65b0e7 !default;
$label-purple: #727ee7 !default;
$label-red: #f66490 !default;
$label-teal: #20c997 !default;

$yellow: #f9b756 !default;
$green: #6aedac !default;
$cyan: #17a2b8 !default;

// Main Colors
$positive: $blue-base !default;
$positive-selected: $blue-selected !default;
$negative: $orange-base !default;
$negative-selected: $orange-selected !default;
$neutral: $light-hover !default;
$primary: $blue-base !default;
$primary-selected: $blue-selected !default;
$primary-light: $blue-light !default;
$primary-light-selected: $blue-light-selected !default;
$secondary: $orange-base !default;
$secondary-selected: $orange-selected !default;
$secondary-pale: $orange-disable !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $light-base !default;
$dark: $dark-base !default;

$input-background: $gray-200 !default;

$font-family-sans-serif: 'Poppins', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// Shadows
// This overrides Bootstrap's default shadow-classes, e.g. .shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;

$regular-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
$light-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
$hover-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
$left-shadow: -3px 1px 1px 0 rgba(255, 255, 255, 0.1);
$wide-shadow: 0 2px 50px 2px rgba(0, 0, 0, 0.2);
$inner-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
