@use 'variables' as vars;

.video-scalable {
  height: auto !important;
  overflow: hidden;
  width: 100% !important;
}

.video-header {
  @extend .rounded-2;
  margin: auto;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    height: auto !important;
    overflow: hidden;
    width: 100% !important;
  }
}

.bg-ipad {
  background-image: url('https://s3.schnaq.com/startpage/videos/ipad-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem 1.5rem;

  @include media-breakpoint-down(md) {
    padding: 1rem 1rem 0.75rem;
  }
}

