@import 'variables';

.startpage-animation {
  border-radius: 40px;
  overflow: hidden;
}

.how-to-animations {
  background-color: $gray-100;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 50px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.feature-animations {
  background-color: $gray-100;
  border-radius: 20px;
  overflow: hidden;
}

.video-background-primary {
  background-color: $primary;
}
