.ms-header {
  &__title {
    flex: 1 1 100%;
    width: 100%;
  }
}

.ms-slider {
  display: inline-block;
  height: 1.5em;
  mask-image: linear-gradient(transparent, $white, $white, $white, transparent);
  mask-mode: alpha;
  mask-type: luminance;
  overflow: hidden;
  vertical-align: middle;

  &__words {
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-name: wordSlider;
    animation-timing-function: ease-out;

    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  &__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
  }
}

@keyframes wordSlider {
  $steps: -0%, -20%, -40%, -60%, -80%;

  @for $index from 0 to length($steps)-1 {
    $next: $index+1;
    $step: floor(100/(length($steps)-1));
    $animation-step: floor($step*0.2);

    #{$step*$index}%,
    #{($step*$next) - $animation-step}% {
      transform: translateY(nth($steps, $index+1));
    }
  }

  100% {
    transform: translateY(nth($steps, length($steps)));
  }
}
